<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>{{.record.Title}} - 磁力搜索 - 磁力链接下载 - bt种子下载 - 种子</title>

</head>
<body id="content">
<div id="topbar" class="topbox"><ul>
</ul></div>

<div id="wrapper">

    <!-- header start -->
    <div id="header">
        <h1 id="logo"><a href="/" title="返回首页-种子搜索"><img width="135" height="30" alt="BtSou-种子搜索-磁力搜索" src="/static/img/logo_small.png"/></a></h1>
        <div id="sbox">
            <form action="/" onsubmit="return search(this);">
                <input type="text" baiduSug="2" autocomplete="off" id="input" name="name" placeholder="请输入电影、音乐、软件等资源名称" class="stbox"/>
                <input type="submit" onmouseout="this.className=''" onmousedown="this.className='mousedown'" onmouseover="this.className='hover'" value="搜索" id="sbutton"/>
            </form>
        </div>
    </div>
    <div id="container">
        <div class="main">
            <div class="T2">{{.record.Title}}</div>
            <dl class="BotInfo"><p>文件大小：{{.record.Size}}</p>
                <p>文件数量：{{.record.Count}}</p>
                <p>创建日期：{{.record.Time}}</p>
                <p>访问热度：{{.record.Hot}}</p>
                <!--<a href='http://soft.qymma.com:81/?ri=Setup@10015100234_12'><img src='/static/image/d2.gif'></a>-->
                <p>磁力下载：<a href="{{.record.GetMurl}}">[磁力链接]</a>&nbsp;请使用迅雷，旋风，百度云盘离线，115网盘离线等进行下载</p>
                <p>迅雷下载：<a href="{{.record.GetTurl}}">[迅雷链接]</a></p>
                <p>文件列表：</p>
            </dl>
            <ol class="flist">
                {{range $k,$v := .record.GetFiles}}
                    <li>{{$v}}</li>
                {{end}}
            </ol>
        </div>
        <div class="rightadbox" style="">
            <h4>相关搜索</h4>
            <div class="hotkbox">
                {{range $k,$v := .justWords}}
                    <a alt="={{$v}} 磁力搜索" href="/list/{{$v}}/time_d/1"  target="_blank">{{$v}}</a>
                {{end}}
            </div>
        </div>
    </div>
</div>
</div>
<div id="footer">
    <p>&copy; 2014 RunBt | <a  href=" /" >btcherry磁力搜索网站</a> | <a  href=" /" >磁力链接</a> | <a  href=" /" >btbook</a></p>
</div>
<!-- footer end -->

</body>

<script language="JavaScript">
    function search(form) {
        value = form.name.value;
        if(!value){
            $('.stbox').focus();
            return false;
        }
        var url = '/list/' + encodeURIComponent(value) + '/time_d/1';
        window.location = url;
        return false;
    }
</script>

</html>
